body{
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background: url(img/main-bg.jpg);
    background-size: contain;
    background-position-y: bottom;
    background-position-x: 0%;
    background-repeat: repeat-x;
    background-color: #c1e8ef;
}
.hero-status--health{
    width: 270px;
    height: 30px;
    position: absolute;
    top: 25px;
    left:20px;
    border: 1px solid red;
    border-radius: 12px;
    overflow: hidden;
}
.hero-status--mana{
    width: 270px;
    height: 30px;
    position: absolute;
    top: 75px;
    left:20px;
    border: 1px solid #00bcf5;
    border-radius: 12px;
    overflow: hidden;
}
.hero-status--health-fill{
    position: absolute;
    display: flex;
    align-items: center;
    background-color: #c10000;
    height: 100%;
    background: vendor-type-gradient( start / position , shape size, color 1, color2 [position] [, other colors / positions] );
    background: -moz-linear-gradient( top left, #400303, #c10000, #ae0000 );
    background: -webkit-linear-gradient( top left, #400303, #c10000, #ae0000 );
    background: -o-linear-gradient( top left, #400303, #c10000, #ae0000 );
    background: -khtml-linear-gradient( top left, #400303, #c10000, #ae0000 );
    background: -ms-linear-gradient( top left, #400303, #c10000, #ae0000 );
    background: linear-gradient( top left, #400303, #c10000, #ae0000 );
}
.hero-status--mana-fill{
    position: absolute;
    display: flex;
    align-items: center;
    background-color: #00bcf5;
    height: 100%;
    background: vendor-type-gradient( start / position , shape size, color 1, color2 [position] [, other colors / positions] );
    background: -moz-linear-gradient( top left, #000976, #2a31ff, #3b77fd );
    background: -webkit-linear-gradient( top left, #000976, #2a31ff, #3b77fd );
    background: -o-linear-gradient( top left, #000976, #2a31ff, #3b77fd );
    background: -khtml-linear-gradient( top left, #000976, #2a31ff, #3b77fd );
    background: -ms-linear-gradient( top left, #000976, #2a31ff, #3b77fd );
    background: linear-gradient( top left, #000976, #2a31ff, #3b77fd );
}
#hero-status--max-health{
    font-size: 18px;
    color: #fff;
    font-weight: bold;
}
#hero-status--max-mana{
    font-size: 18px;
    color: #fff;
    font-weight: bold;
}
.person div {
    transition: all .21s ease-out;
}
.person{
    height: 135px;
    left: 250px;
    bottom:14.4%;
    position: absolute;
}
.person__head{
    width: 40px;
    height: 40px;
    /* top: 0; */
    bottom: 41px;
    left: -5px;
    z-index: 30;
    background: url(img/helmet.png) no-repeat 50% 50%;
    position: absolute;
    background-size: cover;
}
.person__body{
    width: 40px;
    height: 40px;
    top: 82px;
    left: -5px;
    background: url(img/chest.png) no-repeat 50% 50%;
    position: absolute;
    z-index: 20;
    background-size: cover;/*ааа*/
}
.person__weapon{
    width: 38px;
    height: 38px;
    background: url(img/sword.png) no-repeat 50% 50%;
    position: absolute;
    top: 73px;
    right: -59px;
    z-index: 25;
    background-size: cover;
}
.person__leg-first{
    width: 30px;
    height: 30px;
    bottom: -6px;
    background: url(img/boots.png) no-repeat 50% 50%;
    position: absolute;
    background-size: cover;
}
.person__leg-second{
    width: 30px;
    height: 30px;
    left: 11px;
    bottom: -6px;
    background: url(img/boots.png) no-repeat 50% 50%;
    position: absolute;
    background-size: cover;
}
.line{

}